@import "tailwindcss";


html,body{
    font-family: Raleway, sans-serif;
    background: #f8f8f8;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-on-load {
  opacity: 0; /* Start hidden */
  animation-fill-mode: forwards; /* Retain the final state */
}

.fade-in-up {
  animation-name: fadeInUp;
  animation-duration: 0.8s;
  animation-timing-function: ease-out;
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 1.2s;
  animation-timing-function: ease-out;
}

/* Animation Delays */
.delay-200 { animation-delay: 0.2s; }
.delay-400 { animation-delay: 0.4s; }
.delay-600 { animation-delay: 0.6s; }
.delay-800 { animation-delay: 0.8s; }
