---
import Layout from '../layouts/Layout.astro';
import Header from '../components/ui/Headers.astro';
import Blog from '../components/Blog.astro';
import '../styles/global.css';
---

<Layout>
	<main>
		<Blog />
	</main>
</Layout>