---
import Layout from '../layouts/Layout.astro';
import PortfolioDetailed from '../components/PortfolioDetailed.astro';
import '../styles/global.css';
---

<Layout>
	<main>
		<PortfolioDetailed />
	</main>
</Layout>
