---
import HeroWithAbout from './HeroWithAbout.astro';
import ServicesPreview from "./ServicesPreview.astro";
import PortfolioPreview from "./PortfolioPreview.astro";
---

<main class="" id="">
	<HeroWithAbout/>
	<ServicesPreview/>
	<PortfolioPreview/>
</main>

