---
import { Image } from "astro:assets";
import ScreenWrapper from "./ui/ScreenWrapper.astro";
---

<main class="w-full lg:mt-[4rem] bg-[#f8f8f8] md:px-[5rem] lg:px-0">
    <ScreenWrapper class="flex flex-col mx-[2rem] lg:px-[5rem] lg:pt-[6rem] pt-[6rem]">
        <section class="animate-on-load fade-in-up">
            <h1 class="text-[80px] font-semibold text-[#222222] mb-8">Portfolio</h1>
            <p class="text-[#7b7b7b] text-xl mb-6">A showcase of my recent projects and collaborations</p>
            <p class="text-[#7b7b7b] mb-12 max-w-3xl">
                Here's a selection of some of my recent work. Each project represents a unique challenge and solution, showcasing my skills in web development, design, and problem-solving.
            </p>
        </section>

        <section class="grid grid-cols-1  lg:grid-cols-2 xl:grid-cols-3 gap-8 mb-16">
              <!-- Project 1 -->
            <a href="https://novapathdev.netlify.app/" class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-all animate-on-load fade-in-up delay-200">
                <img src="/public/images/novapath_new.png" class="h-[200px] w-auto bg-gray-200 rounded-lg mb-4" />
                <h3 class="text-2xl font-semibold text-[#222222] mb-2">Novapath</h3>
                <p class="text-[#7b7b7b] mb-4">Novapath blends cinematic storytelling with active learning.</p>
                <div class="flex flex-wrap gap-2 mb-4">
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Next.js</span>
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Tailwindcss</span>
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Zustand</span>
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Node/Express.js</span>
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">PostgresQL</span>
                </div>
            </a>

            <!-- Project 2 -->
            <a href="https://tekcify-test-flame.vercel.app/" class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-all animate-on-load fade-in-up">
                  <img src="/public/images/tekcify_test.png" class="h-[200px] w-auto bg-gray-200 rounded-lg mb-4" />
                <h3 class="text-2xl font-semibold text-[#222222] mb-2">Tekcify Landing page test</h3>
                <p class="text-[#7b7b7b] mb-4">Tekcify Landing page test used to secure frontend role at tekcify</p>
                <div class="flex flex-wrap gap-2 mb-4">
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Next.js</span>
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Tailwindcss</span>
                </div>
            </a>

          
            <!-- Project 3 -->
            <a href="https://monoverse.netlify.app/" class="bg-white p-6 rounded-lg shadow-sm hover:shadow-md transition-all animate-on-load fade-in-up delay-400">
                <img src="/images/monoverse.png" class="h-[200px] w-full object-cover bg-gray-200 rounded-lg mb-4" />
                <h3 class="text-2xl font-semibold text-[#222222] mb-2">Monoverse Landing page</h3>
                <p class="text-[#7b7b7b] mb-4">Monoverse is on a mission to make high-quality, career-aligned learning accessible through cinematic experiences and AI-driven coaching.</p>
                <div class="flex flex-wrap gap-2 mb-4">
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Next.js</span>
                    <span class="px-3 py-1 bg-gray-100 text-[#7b7b7b] text-sm rounded-full">Tailwindcss</span>
                </div>
            </a>
        </section>

        <section class="flex justify-center mb-16 animate-on-load fade-in-up delay-600">
            <a href="/portfolio" class="text-gray-700 flex items-center underline">
                View All Projects
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M13 5h6m0 0v6m0-6L5 19"/></svg>
            </a>
        </section>
    </ScreenWrapper>
</main>